body {
    font-family: 'Balsamiq Sans', sans-serif;
    text-align: center;
    background-color: #DBBBC8;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 48px;
    color: #d63384;
}

p {
    font-size: 28px;
}

img {
    width: 400px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

button {
    background-color: #ff69b4;
    color: white;
    padding: 15px 25px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    font-family: 'Balsamiq Sans', sans-serif;

}

button:hover {
    background-color: #ff1493;
}

.dot {
    width: 35px;
    height: 35px;
    position: absolute;
    background: url('favicons/petal.png');
    background-size: 100% 100%;
}

#petals {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

#hiddenHeart {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
    animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

@keyframes card {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
